/* Sidebar styles */
.sidebar {
  @apply flex shrink-0 flex-col;
  width: 220px;
  background-color: #fff;
  border-right: 1px solid #eee;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-logo {
  @apply flex h-[70px] items-center justify-center border-b border-solid border-[#F3F5F6] bg-center bg-no-repeat;
  background-size: 7rem;
  background-image: url("./../../../../img/logo.svg");
}
.sidebar-menu {
  @apply flex flex-col gap-2 pt-10 pr-0 pb-0 pl-6 transition-all duration-150 ease-in-out;
}
.sidebar-menu:last-of-type {
  @apply mb-8 flex-auto justify-end;
}

.sidebar-menu li {
  @apply relative flex cursor-pointer items-center gap-3 px-3 py-2 text-base font-normal text-[#ababab] transition-all duration-150 ease-in-out;
  @apply hover:text-dark/50;
}
.sidebar-menu li a,
.sidebar-menu li button {
  @apply flex flex-auto items-center gap-3;
}
.sidebar-menu li.danger {
  @apply text-[#FF3B30];
  @apply hover:text-[#d42016];
}
.sidebar-menu li img {
  @apply h-[18px] opacity-80 saturate-0 transition-all duration-150 ease-in-out;
}
.sidebar-menu li:hover img {
  @apply opacity-100;
}

.sidebar-menu li.active {
  @apply text-dark font-medium;
}
.sidebar-menu li.active i {
  @apply text-main;
}
.sidebar-menu li.active::after {
  @apply bg-main absolute right-0 block h-1/2 w-1 rounded-l-[2px] content-[''];
}
.sidebar-menu li.active img {
  @apply opacity-100 saturate-100;
}

.sidebar-menu-icon {
  font-size: 18px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .sidebar-menu li span {
  @apply font-poppins opacity-100 transition-all duration-150 ease-in-out;
}

/* Collapsed */
.sidebar.collapsed .sidebar-logo {
  background-size: 1.5rem;
  background-image: url("./../../../../img/logo-icon.svg");
}

.sidebar.collapsed .sidebar-menu li a,
.sidebar.collapsed .sidebar-menu li button {
  @apply -translate-x-[14px];
}
.sidebar.collapsed .sidebar-menu li span {
  @apply opacity-0;
}
.sidebar.collapsed .sidebar-menu li.active::after {
  @apply w-[2px];
}
